.footer {
  background: var(--white);

  &__container {
    &:last-child {
      border-top: 1px solid rgba(0, 0, 0, 0.05);
    }
  }

  &__top {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: calc(8 * var(--width-multiplier));
    row-gap: calc(24 * var(--width-multiplier));
    padding: calc(48 * var(--width-multiplier)) 0;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__brand {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
  }

  &__logo {
    width: calc(147 * var(--width-multiplier));
    height: auto;
    img {
      width: 100%;
      height: 100%; 
      object-fit: contain;
    }
  }

  &__desc {
    font-weight: 500;
  }

  &__nav-title {
    font: 700 calc(20 * var(--width-multiplier))/1.2 Manrope, sans-serif;
    color: var(--dark);
    margin-bottom: calc(16 * var(--width-multiplier));
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
  }

  &__nav-link {
    font-weight: 500;
    color: var(--dark);
    transition: color 0.2s ease;

    &:hover {
      color: var(--primary);
    }
  }

  &__contacts-list {
    display: flex;
    flex-direction: column;
    gap: calc(8 * var(--width-multiplier));
  }

  &__contact-item {
    display: flex;
    align-items: center;
    gap: calc(16 * var(--width-multiplier));
    padding: calc(10 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
    border-radius: calc(8 * var(--width-multiplier));
    font-weight: 600;
    transition: background-color 0.2s ease-out;
    &:hover {
      background-color: rgba(175, 45, 57, 0.05);
    }
  }

  &__contact-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: calc(32 * var(--width-multiplier));
    height: calc(32 * var(--width-multiplier));
    border-radius: calc(4 * var(--width-multiplier));
    border: 1px solid rgba(0, 0, 0, 0.03);

    svg {
      width: calc(18 * var(--width-multiplier));
      height: calc(18 * var(--width-multiplier));
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: calc(8 * var(--width-multiplier));
    padding: calc(12 * var(--width-multiplier)) 0;
    font-size: calc(14 * var(--width-multiplier));
    font-weight: 500;
  }

  &__credit-link {
    color: #DD5500;
    font-weight: 700;
  }
}
