@import "vars.scss";
@import "mixins.scss";

:root {
  --white: #FFFFFF;
  --dark: #000000;
  --dark-grey: #2F2F2F;
  --primary: #AF2D39;
  --green: #06A23E;
  --bg-red: #F7EAEC;
  --bg-green: rgba(6, 162, 62, 0.1);
  --bg: #F6F6F6;
  --txt-light: rgba(0, 0, 0, 0.5);
  --width-base: 1400;
  --width-current: 100vw;
  --width-multiplier: calc(var(--width-current) / var(--width-base));
}

@media(max-width: 1024px) {
    :root {
      --width-base: 980;
      --width-current: 100vmin;
    }
}

@media(max-width: 767px) {
    :root {
      --width-base: 375;
      --width-current: 100vmin;
    }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(48 * var(--width-multiplier));
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font: 400 calc(16 * var(--width-multiplier))/1.2 Manrope, sans-serif;
  text-rendering: optimizeSpeed;
}

.no-scroll {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font: 600 calc(34 * var(--width-multiplier))/1.1 Manrope, sans-serif;
  @media (max-width: 767px) {
    font-size: calc(24 * var(--width-multiplier));
  }
}

h2 {
  font: 600 calc(28 * var(--width-multiplier))/1.1 Manrope, sans-serif;
  @media (max-width: 767px) {
    font-size: calc(24 * var(--width-multiplier));
  }
}

h3 {
  font: 600 calc(24 * var(--width-multiplier))/1.1 Manrope, sans-serif;
  @media (max-width: 767px) {
    font-size: calc(22 * var(--width-multiplier));
  }
}

h4 {
  font: 600 calc(20 * var(--width-multiplier))/1.1 Manrope, sans-serif;
  @media (max-width: 767px) {
    font-size: calc(18 * var(--width-multiplier));
  }
}

h5 {
  font: 600 calc(16 * var(--width-multiplier))/1.1 Manrope, sans-serif;
}

h6 {
  font: 600 calc(14 * var(--width-multiplier))/1.1 Manrope, sans-serif;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus-visible {
  outline: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

// ====== Global ======

.container {
  width: 100%;
  padding: 0 calc(48 * var(--width-multiplier));
  @media(max-width: 1024px) {
    padding: 0 calc(16 * var(--width-multiplier));
  }
}

.section {
  &-pad {
    padding: calc(48 * var(--width-multiplier)) 0;
    @media(max-width: 1024px) {
      padding: calc(24 * var(--width-multiplier)) 0;
    }
  }
  &-hidden {
    overflow: hidden;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(4 * var(--width-multiplier));
  width: max-content;
  padding: calc(16 * var(--width-multiplier)) calc(24 * var(--width-multiplier));
  border: 1px solid transparent;
  border-radius: calc(12 * var(--width-multiplier));
  background: transparent;
  font: 700 calc(14 * var(--width-multiplier))/1.1 Manrope, sans-serif;
  cursor: pointer;
  transition: all 0.3s ease-out;
  overflow: hidden;
  &:disabled {
    opacity: 0.4;
  }
  path {
    transition: fill 0.3s ease-out, stroke 0.3s ease-out;
  }
  &-primary {
    border-color: var(--primary);
    color: var(--white);
    background: var(--primary);
    &:hover {
      border-color: #D33947;
      background: #D33947;
      path {
        fill: var(--white);
      }
    }
  }
  &-secondary {
    border-color: var(--bg-red);
    color: var(--primary);
    background: var(--bg-red);
    &:hover {
      border-color: var(--primary);
      background: var(--primary);
      color: var(--white);
      path {
        fill: var(--white);
      }
    }
  }
  &-light {
    border-color: var(--bg);
    color: var(--dark);
    background: var(--bg);
    &:hover {
      border-color: var(--bg-red);
      background: var(--bg-red);
      color: var(--primary);
      path {
        fill: var(--primary);
      }
    }
  }
  @media(max-width: 767px) {
    width: 100%;
    padding: calc(14 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
  }
}

.title {
  &-indent {
    margin-bottom: calc(24 * var(--width-multiplier));
  }
}

.text {
  &-lower {
    text-transform: lowercase;
  }
  &-up {
    text-transform: uppercase;
  }
}