// COLORS VARS
$white: #FFFFFF;
$dark: #000000;
$dark-grey: #2F2F2F;
$primary: #AF2D39;
$green: #06A23E;
$bg-red: #F7EAEC;
$bg-green: rgba(6, 162, 62, 0.1);
$bg: #F6F6F6;
$txt-light: rgba(0, 0, 0, 0.5);